In [1]:
import pandas as pd
import numpy as np

Eliminamos los duplicados, para poder trabajar en el procesamiento de datos con otros df fusionados

In [2]:
df_movies = pd.read_csv('../raw/ml-20m/movies.csv')
df_movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [3]:
df_movies.nunique() # Comprobamos los valores duplicados por columnas

movieId    27278
title      27262
genres      1342
dtype: int64

In [4]:
# Extraemos el numero de filas duplicadas en funcion del title
title_duplicate = df_movies[df_movies.duplicated(subset='title', keep=False)]
print(title_duplicate.drop_duplicates(subset='title').count()) # Eliminamos por cada registro 1, dejando solo el duplicado 

# Obtener el nombre de los títulos únicos duplicados
unique_titles_duplicated = title_duplicate['title'].unique()
# Mostrar los títulos únicos duplicados
print(f'\n Titulos: {unique_titles_duplicated}')

movieId    16
title      16
genres     16
dtype: int64

 Titulos: ['Aladdin (1992)' 'Emma (1996)' 'Men with Guns (1997)' 'Hamlet (2000)'
 'War of the Worlds (2005)' 'Casanova (2005)' 'Chaos (2005)'
 'Offside (2006)' 'Blackout (2007)' 'Darling (2007)' 'Girl, The (2012)'
 '20,000 Leagues Under the Sea (1997)' 'Beneath (2013)'
 'Clear History (2013)' 'Johnny Express (2014)' 'Paradise (2013)']

In [5]:
# Eliminamos duplicados
print('filas antes de eliminar duplicados:',df_movies.shape[0])
df_ratings_sin_duplicados = df_movies.drop_duplicates(subset='title', keep='first')
print('filas despues de eliminar duplicados:',df_ratings_sin_duplicados.shape[0])

filas antes de eliminar duplicados: 27278
filas despues de eliminar duplicados: 27262

In [7]:
df_ratings_sin_duplicados.nunique() # titulos duplicados eliminados

movieId    27262
title      27262
genres      1342
dtype: int64

In [9]:
# Guardar csv
df_ratings_sin_duplicados.to_csv('../raw/ml-20m/movies_processedV0.1.csv', index=False)